body {
	text-decoration: none;
	text-align: center;
}
h1 {
	font-family: Raleway, Monospace;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
a {
	font-family: Raleway, Monospace;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}
h2 {
	font-family: Raleway, Monospace;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p{
	font-family: "Droid Serif", Monospace;
	line-height: 26px;
	font-size: 18px;
}